
/*
Primary: #0072B2 (Ice Blue)
Secondary: #FFFFFF (White)
Accent: #C0C0C0 (Light Gray)
*/


.App {
  text-align: center;
  color: #FFFF;
  background-color: #0072B2;
  min-height: 100vh;
  height: 100%;
}

h1 {
  margin: 0px;
  padding: 20px;
  font-weight: 600;
}

/* Start of home page */

.home-page {
  margin: 0px 5px 0px 5px;
  letter-spacing: 1px;
  display: grid;
  justify-content: center;
}

.hero-section h1, .hero-section div {
  display: flex;
  justify-content: flex-start;
}

.hero-section div {
  padding: 0px 15px 15px 15px;
}

.nav-buttons {
  color: white !important;
}

.nav-buttons:hover {
  color: rgb(92, 92, 255) !important;
}

.nav-wrapper {
  border: 2px solid white;
  margin: 0px 2px 0px 2px;
  display: inline-block;
  border-radius: 5px;
}

.featured-projects *, .about-me * {
  padding: 7px;
}

.about-me, .featured-projects {
  margin: 0px 10px 0px 10px;
  max-width: 700px;
  display: inline-block;
}

h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 0px;
}

.suspensions > ul, .electricity > ul{
  margin: 0px !important;
  width: fit-content;
  display: inline-block;
  list-style-type: disclosure-closed;
  text-align: start;
}
/* End of home page */

/* Start of suspension page */

.suspension-card {
  background-color: #C0C0C0 !important;
  align-content: middle;
  justify-content: center;
  margin: 10px 10px 0px 10px;
}

.suspension-news-link {
  color: #0072B2;
  text-decoration: none;
  background-color: rgb(226, 226, 226) !important;
  font-size: small !important;
}

.suspension-news-link:hover {
  background-color: rgba(212, 212, 212, 0.7) !important;
}

.suspension-update-buttons {
  margin: 10px !important;
  font-weight: 600 !important;
}

@media (min-width:801px) {
  .suspension-card {
    width: 700px;
  }
}

/* End of suspension page */