
/*
Primary: #0072B2 (Ice Blue)
Secondary: #FFFFFF (White)
Accent: #C0C0C0 (Light Gray)
*/


.App {
  text-align: center;
  color: #FFFF;
  background-color: #0072B2;
  height: 100vh;
}

h1 {
  margin: 0px;
  padding: 20px;
}