
/*
Primary: #0072B2 (Ice Blue)
Secondary: #FFFFFF (White)
Accent: #C0C0C0 (Light Gray)
*/


.App {
  text-align: center;
  color: #FFFF;
  background-color: #0072B2;
  height: 100%;
}

h1 {
  margin: 0px;
  padding: 20px;
}

/* Start of suspension page */

.suspension-card {
  background-color: #C0C0C0 !important;
}

.suspension-news-link {
  color: #0072B2;
  text-decoration: none;
  background-color: rgb(226, 226, 226) !important;
  font-size: small !important;
}

.suspension-news-link:hover {
  background-color: rgba(212, 212, 212, 0.7) !important;
}

/* End of suspension page */